<main>

  <div class="container">

    <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4" @fadeIn>


 <!-- Formes géométriques -->
 <div class="shape circle-1"></div>
 <div class="shape circle-2"></div>
 <div class="shape triangle"></div>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

            <div class="d-flex justify-content-center py-4">
              <a routerLink="/" class="logo d-flex align-items-center w-auto">
                <img src="" alt="">
                <span class="d-none d-lg-block"><i class="fas fa-cog me-3"> <span class="custom-font">ProPilot</span></i></span>
              </a>
            </div><!-- End Logo -->

            <div class="card mb-3">

              <div class="card-body">

                <div class="pt-4 pb-2">
                  <h5 class="card-title text-center pb-0 fs-4">Login to Your Account</h5>
                  <p class="text-center small">Enter your username & password to login</p>
                </div>
                <form class="row g-3 needs-validation" novalidate [formGroup]="loginForm" (ngSubmit)="submit()">


                  <div class="col-12">
                    <label for="form2Example17" class="form-label">Username</label>
                    <div class="input-group has-validation">
                    <span class="input-group-text" id="inputGroupPrepend">@</span>
                    <input type="email" id="form2Example17" formControlName="email"
                       class="form-control" [class.is-invalid]="loginForm.get('email')?.invalid && loginForm.get('email')?.touched" />
                       <div class="invalid-feedback">Please enter your username.</div>
                      </div>
                    </div>

                    <div class="col-12">
                      <label for="form2Example27" class="form-label">Password</label>
                    <input type="password" id="form2Example27" formControlName="password"
                          class="form-control" [class.is-invalid]="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"/>
                          <div class="invalid-feedback">Please enter your password!</div>

                  </div>

                  <div class="col-12">
                    <div class="form-check">
                      <input class="form-check-input" type="checkbox" name="remember" value="true" id="rememberMe">
                      <label class="form-check-label" for="rememberMe">Remember me</label>
                    </div>
                  </div>

                  <div class="col-12">
                    <button class="btn btn-primary w-100" type="submit">Login</button>
                  </div>

                  <div *ngIf="errorMessage" class="alert alert-danger" role="alert">
                    {{ errorMessage }}
                  </div>

                  <a class="small text-muted" routerLink="/forgot-password">Mot de passe oublié?</a>
                  <div class="col-12">
                  <p class="small mb-0">Don't have account <a routerLink="/signup">Create an account</a></p>
                </div>
              </form>

            </div>
          </div>


        </div>
      </div>
    </div>

  </section>

</div>
</main><!-- End #main -->
